[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
pyyaml = "*"
sqlalchemy = "*"
pyfiglet = "*"
tabulate = "*"
pillow = "*"
pybktree = "*"
dhash = "*"

[dev-packages]
pylint = "*"
ipython = "*"
rope = "*"

[requires]
python_version = "3.6"
